@import "Header.css";
@import "Main.css";

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: auto;
    height: 100%;
}

#root {
    width: 100%;
    height: 100%;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #a39081;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}