.task {
    margin: 20px 20px 0 20px;
    border-radius: 25px;
    padding: 20px;
    /* overflow: scroll; */
    background-color: #efd9b4;
    color: #292522;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task > * {
    flex-grow: 1;
    flex-shrink: 1;
}

.task:last-child {
    margin-bottom: 20px;
}

.task-description {
    margin: 0;
    flex-grow: 0;
    max-width: 75%;
    word-wrap: break-word;
}

.control-btns {
    width: fit-content;
    display: grid;
    grid-template: auto / auto auto auto;
    /* flex-wrap: wrap; */
    justify-content: flex-end;
    align-items: center;
}

.task button {
    width: 40px;
    height: 40px;
}